body {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  display: flex;
  text-align: center;
}

.card {
  margin: 30px;
  padding: 10px;
  border: 5px solid rgb(191, 190, 190);
  border-radius: 1rem;
  box-shadow: 3px;
}
